#Idea files
.idea
#Temp files
app/tmp
app/webroot/files
app/tmp/cache/persistent/myapp_cake_core_object_map
app/tmp/cache/persistent/myapp_cake_core_method_cache
app/tmp/cache/persistent/myapp_cake_core_file_map
app/tmp/cache/persistent/myapp_cake_core_default_en-us
app/tmp/cache/cake_toolbar_cache
app/tmp/cache/cake_toolbar_cache1684f246168b189a47ffa477ccfa947a
app/tmp/cache/models/myapp_cake_model_default_larach_trivia_answers
app/tmp/cache/models/myapp_cake_model_default_larach_trivia_list
app/tmp/cache/persistent/myapp_cake_core_cake_en-us
app/tmp/cache/persistent/myapp_cake_core_debug_kit_en-us
app/tmp/cache/models/myapp_cake_model_default_larach_trivia_questions
app/tmp/cache/persistent/myapp_cake_core_cake_dev_en-us
app/tmp/cache/models/myapp_cake_model_default_larach_trivia_entries
app/tmp/logs/error.log

app/tmp/cache/cake_toolbar_cache

app/tmp/cache/cake_toolbar_cache1684f246168b189a47ffa477ccfa947a

app/tmp/cache/models/myapp_cake_model_default_larach_trivia_answers

app/tmp/cache/models/myapp_cake_model_default_larach_trivia_entries

app/tmp/cache/models/myapp_cake_model_default_larach_trivia_list

app/tmp/cache/models/myapp_cake_model_default_larach_trivia_questions

app/tmp/cache/persistent/myapp_cake_core_cake_dev_en-us

app/tmp/cache/persistent/myapp_cake_core_cake_en-us

app/tmp/cache/persistent/myapp_cake_core_debug_kit_en-us

app/tmp/cache/persistent/myapp_cake_core_default_en-us

app/tmp/cache/persistent/myapp_cake_core_file_map

app/tmp/cache/persistent/myapp_cake_core_method_cache

app/tmp/cache/persistent/myapp_cake_core_object_map

app/tmp/logs/error.log

app/tmp/cache/cake_toolbar_cache1684f246168b189a47ffa477ccfa947a
