/* CSS Document */
@font-face {
  font-family: 'Brain Flower';
  src: url(../fonts/brainflower.ttf); }
body {
  font-family: Helvetica, Arial, san-serif;
  margin: 0;
  padding: 0; }

.clearfix {
  clear: both; }
  .clearfix::before, .clearfix::after {
    content: "";
    display: block; }

.pull-left {
  float: left !important; }

.pull-right {
  float: right !important; }

.hidden {
  display: none;
  visibility: hidden; }

.brain-flower {
  font-family: "Brain Flower"; }

@media screen {
  #container {
    width: 800px; }

  .container {
    margin: 0 auto; } }
#container {
  background: url(../img/ask.png), url(../img/paper.background.jpg); }

#header {
  background: white; }

.color.white {
  color: white; }
.color.blue {
  color: #0061af; }
.color.white {
  color: white; }

.title img {
  margin: 0 auto;
  display: block; }
.title h1 {
  text-align: center;
  font-size: 87px;
  color: white;
  font-weight: bold;
  margin-top: 0;
  line-height: 70px; }

.papercut {
  background: url(../img/paper.cut.png);
  padding-top: 112px;
  text-align: center;
  position: relative;
  z-index: 10; }

.game-summary {
  font-size: 48px;
  width: 679px;
  text-align: center;
  margin: 0 auto;
  color: #0061af; }

#play_btn {
  background-color: #0061af;
  border-radius: 10px;
  color: #fff;
  font-size: 48px;
  letter-spacing: 10px; }
  #play_btn:hover {
    background-color: #003473; }

#login .title {
  padding-top: 30px;
  margin: 0 auto;
  display: block;
  text-align: center; }

form label {
  width: 240px;
  display: block;
  float: left;
  text-align: right;
  font-weight: bold;
  margin-right: 33px;
  color: white; }
form input {
  margin-bottom: 10px; }

#register {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.85);
  color: #fff; }
  #register h1, #register h2, #register h3, #register h4, #register h5, #register h6 {
    color: inherit; }

.health {
  background-color: #145fd3;
  padding: 10px 200px;
  text-align: center;
  color: #fff; }

.image {
  height: 362px;
  position: relative;
  overflow: hidden; }
  .image img {
    position: absolute;
    top: 0;
    z-index: 1; }
  .image .progress {
    z-index: 2;
    top: 10px;
    position: absolute; }

.question {
  background: url(../img/larach.paper.jpg) top center no-repeat;
  padding-top: 22px;
  text-align: center;
  min-height: 200px; }
  .question label {
    color: black;
    font-size: 20px;
    width: auto;
    margin: 0;
    padding: 0;
    float: none; }

.progress {
  height: 11px;
  background: #f15102;
  padding: 0px;
  border: 0px; }

#EntryIndexForm label {
  text-align: center;
  height: 48px;
  margin-top: 1px;
  margin-bottom: 1px;
  box-sizing: border-box;
  padding-top: 10px;
  padding-bottom: 10px; }
  #EntryIndexForm label:hover {
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
    margin: 0; }

#EntryViewForm h1 {
  margin-top: 2px;
  height: 99px;
  margin-bottom: 0px;
  line-height: 50px;
  font-weight: bold; }
#EntryViewForm input {
  display: none; }
#EntryViewForm label {
  line-height: 150%;
  text-align: center;
  height: 45px;
  margin-top: 1px;
  margin-bottom: 3px;
  box-sizing: border-box;
  font-size: 30px;
  font-weight: 100;
  width: 100%;
  margin-left: 0; }
  #EntryViewForm label:hover {
    background: rgba(0, 0, 0, 0.3); }
#EntryViewForm .option {
  height: 99px; }

.ground .background {
  position: relative;
  z-index: 0; }
.ground .middle-ground {
  position: relative;
  z-index: 100; }
.ground .foreground {
  position: relative;
  z-index: 200; }

#registerTitle h1 {
  font-size: 111px;
  margin-bottom: 0;
  height: 120px; }
#registerTitle h3 {
  font-size: 66px;
  margin-top: 0; }

#userRegisterForm input {
  width: 330px; }
#userRegisterForm button {
  font-size: 56px;
  font-weight: bold;
  padding-top: 7px;
  padding-bottom: 7px;
  line-height: 40px; }
#userRegisterForm .therms {
  margin-top: 40px;
  font-size: 14px; }
#userRegisterForm .input.checkbox {
  text-align: center; }
  #userRegisterForm .input.checkbox input#userTherms {
    float: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin-top: 40px;
    margin-bottom: 50px;
    width: 30px;
    height: 30px;
    background: #003473;
    overflow: hidden;
    vertical-align: middle; }
    #userRegisterForm .input.checkbox input#userTherms:checked::after {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
      border-right: 6px solid white;
      border-bottom: 6px solid white;
      display: block;
      width: 15px;
      height: 30px;
      margin-left: 8px;
      margin-top: -5px;
      content: ""; }
  #userRegisterForm .input.checkbox label[for=userTherms] {
    float: none;
    width: auto;
    font-size: 22px; }

.pencils {
  left: 0;
  right: 0;
  text-align: center;
  height: 470px;
  overflow: hidden;
  margin-bottom: -70px;
  z-index: 0; }
